<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <h2>Manage <%= @user.name %> <%= @user.lastname %></h2>
      <span class="pull-right"><a href="/users/<%= @user.id %>/edit"><span class="label label-primary">Edit User Info</span></a> (not yet working)</span>
      <hr>
      <h4>User info:</h4>
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <tr>
          <td><%= @user.id %></td>
          <td><%= @user.name %> <%= @user.lastname %></td>
          <td><%= @user.email %></td>
          <td><%= @user.phone %></td>
        </tr>
      </table>
    </div>
    <hr>
    <div class="row">
    <h3>Manage Materials Access</h3>
        <h4>Materials Shared With User</h4>
        <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Type</th>
          <th>Remove Access?</th>
        </tr>
        <% @user_materials.each do |m| %>
          <tr>
            <td><%= m[:id] %></td>
            <td>
              <a href="/materials/<%= m[:id] %>"><strong><%= m[:title] %></strong></a> -
              <a href="/materials/<%= m[:id] %>/edit">Edit</a>
            </td>
            <td><%= m[:kind] %></td>
            <td>
              <%= bootstrap_form_tag url: "/user_admin/#{@user.id}", method: "delete" do |f| %>
                <%= f.hidden_field :material_id, value: "#{m.id}"%>
                <%= f.submit "Unshare", class: "btn btn-danger btn-sm"%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="row">
      <h4>Materials Not Shared With User</h4>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Type</th>
          <th>Give Access?</th>
        </tr>
        <% @all_materials.each do |m| %>
          <tr>
            <td><%= m[:id] %></td>
            <td>
              <a href="/materials/<%= m[:id] %>"><strong><%= m[:title] %></strong></a> -
              <a href="/materials/<%= m[:id] %>/edit">Edit</a>
            </td>
            <td><%= m[:kind] %></td>
            <td>
              <%= bootstrap_form_tag url: "/user_admin/", method: "post" do |f| %>
                <%= f.hidden_field :material_id, value: "#{m.id}"%>
                <%= f.hidden_field :user_id, value: "#{@user.id}"%>
                <%= f.submit "Share", class: "btn btn-primary btn-sm"%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>