<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>New Client?</h2>
    <p>Sign up now for quick and easy access to your supplemental materials.</p>
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_field :name, placeholder: "Enter first name", icon: "user" %>
      <%= f.text_field :lastname, placeholder: "Enter last name", icon: "user" %>
      <%= f.email_field :email, placeholder: "Enter email", icon: "envelope" %>
      <%= f.phone_field :phone, placeholder: "Enter phone number", icon: "phone" %>
      <%= f.password_field :password, placeholder: "Enter Your Password", icon: 'lock', help: "Must be at least 6 characters long" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", icon: 'lock' %>
      <div class="row">
        <p>By signing up you agree not to download, distribute, print, or share any of the content contained on this site without expressly written permission from the Empower Your Life Hypnotherapy. Thanks for respecting our content.</p>
      </div>
      <%= f.submit "Sign Up" %>
    <% end %>
  </div>
</div>