<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Sign in</h2>
    <%= bootstrap_form_for :user, url: login_path do |f| %>
      <%= f.email_field :email, placeholder: "Enter email", icon: "envelope" %>
      <%= f.password_field :password, placeholder: "Enter Your Password", icon: 'lock' %>
      <%= f.submit "Log In" %>
    <% end %>
    <br>
    <%= link_to "New Client? Create an account.", new_user_path %>
  </div>
</div>