<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Edit material</h2>
    <%= bootstrap_form_for(@material) do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :body %>
      <%= f.hidden_field :kind, value: "article" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<script>
  $(function() {
      $('#material_body').editable({inlineMode: false});
  });
</script>