<% if @material.kind == "article" %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Edit material</h2>
      <%= bootstrap_form_for(@material) do |f| %>
        <%= f.text_field :title %>
        <%= f.text_area :body %>
        <%= f.hidden_field :kind, value: "article" %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <script>
    $(function() {
        $.FroalaEditor.DEFAULTS.key = '9xsoovgqA-9jsudc1lnxbaccI1qA-16y==';
        $('#material_body').editable({inlineMode: false});
    });
  </script>
<% elsif @material.kind == "pdf" %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Edit material</h2>
      <%= bootstrap_form_for(@material) do |f| %>
        <%= f.text_field :title %>
        <%= f.text_field :body %>
        <%= f.hidden_field :kind, value: "pdf" %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
<% end %>