<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <span class="pull-right"><a href="/materials/new"><span class="label label-primary">Add new material</span></a></span>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>All materials</h2>
      <table class="table table-striped">
        <tr>
          <th>Share</th>
          <th>ID</th>
          <th>Title</th>
          <th>Type</th>
          <th>Delete?</th>
        </tr>
        <% @all_materials.each do |m| %>
          <tr>
            <td>
              <a href="/users/<%= :current_user %>/share/<%= m[:material][:id] %>">Manage Access</a>
            </td>
            <td><%= m[:material][:id] %></td>
            <td>
              <a href="/materials/<%= m[:material][:id] %>"><strong><%= m[:material][:title] %></strong></a> -
              <a href="/materials/<%= m[:material][:id] %>/edit">Edit</a>
            </td>
            <td><%= m[:material][:kind] %></td>
            <td>
              <!-- FIX DELETE FORM -->
              <form accept-charset="UTF-8" action="/materials/<%= m[:material][:id] %>" method="destroy">
                <button type="button" class="close" aria-label="Delete">
                  <span aria-hidden="true">&times;</span>
                </button>
              </form>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
<%= %>