<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Add new materials</h2>
    <%= bootstrap_form_for(@new_material) do |f| %>
      <%= f.text_field :title, placeholder: "Enter Title" %>
      <%= f.text_field :body, placeholder: "Enter URL to PDF file" %>
      <%= f.hidden_field :kind, value: "pdf" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>