<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>
      <%= @material.title %></h1>
      <% if @current_user[:kind] == 'admin' %>
        <p>
          <%= link_to "Edit", edit_material_path %> |
          <%= link_to "Manage Access", user_share_path( @current_user.id,@material.id )%> |
          <%= link_to "View All Materials", materials_path %>
        </p>
      <% end %>

    <span class="label label-default"><%= @material.kind %></span>
    <div class="row">
    <hr>
      <div class="froala-view no-select">
        <%= raw @material.body %>
      </div>
    </div>
  </div>
</div>

